<style>    
  
    .mensaje {
       
        color: white;        
        font-size: 25px;
        font-weight: 400;
        letter-spacing: 0.89px;
        line-height: 40px;
    }
    
</style>

<div data-role="view" data-layout="main"  data-model="app.reportAlertView" class="b-main">
   
     <header data-role="header"  >
     </header>
    
    <div data-role="content" class="container-fluid  b-main " style="text-align: center" data-bind="click: goHomeNoTransition">
        <div class="mensaje" style="padding-top: 35%" >
            <i class="fa fa-check-circle-o fa-5x"></i>
            <h1 class="mensaje">¡Tarea creada con éxito!</h1>
        </div>
        
    </div>
    
    
</div>

