
<style>
    
#viewHome .groupHeader {
    color:  #2a3a40;    
    font-size: 22px;
    font-weight: 500;
    line-height: 23px;
}
    
#viewHome .groupIcon {
    color: #2a3a40;
    font-size: 22px;
}    
    
#viewHome .listviewHeader {
    padding-top: 15px;
    height: 50px;
    color: #2a3a40;
    background-color: White;
}    
    
    
#viewHome .km-group-title{
    border: none;
}
    
#viewHome .buttonTransparent {
    
    color: #2a3a40;
    background-color: transparent;    
    font-size: 14px;
    font-weight: 900;
    line-height: 16px;
}    
    
#viewHome .staffName {
    
    color: black;    
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}    

    
#viewHome .km-listview-link {
    line-height: normal;
}
#viewHome .km-listview-link:after {
    display: none !important;
}
    
  

#viewHome .verdetalle {
    
    color: black;    
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    background: transparent;
}
    
#viewHome .asignar {
    
    color: #2db8a4;    
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    background: transparent;
}

#viewHome .rowinform {
    margin-top: 10px;
    padding: 5px;
    /*background-color: rgba(244,244,244,0.8);*/
    border-top: solid 1px rgba(244,244,244,1); 
    /*border-radius: 10px;*/
    
}   

   
    
    
</style>

<div id="viewHome" data-role="view" data-title="" data-layout="main" data-model="app.homeView" class="homeView"
     data-init="app.homeView.init" data-before-show="app.homeView.beforeShow" 
     data-after-show="app.homeView.afterShow"> 
    <!-- START_CUSTOM_CODE_homeView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    
    
     <header data-role="header" class="alertNumber" data-bind="visible: hasOrphanAlerts" >
       <h4> Tienes <span data-bind="html: orphanAlerts "></span> alerta(s) sin asignar</h4>
     </header>
   
    <header data-role="header" >
        <div id="ddNotification" class="alert b-main3 c-white alert-dismissible " role="alert" style="margin:0px; border-radius: 0px; display: none">         
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="mdi mdi-close  " style="color: white"></i>
            </button>
            <span style="font-size: 16px" data-bind="html:notification"></span> 
        </div>
   </header>
    
    
 
    
 
    
    
     <header data-role="header" >
        <div id="navbarmaid" class="navbar b-main33" data-role="navbar" style="height: 70px !important; opacity: 1">
            <a data-align="left" data-role="button" data-bind="click:openDrawer" class="sh-headerbutton">
                <i class="mdi mdi-menu c-black valign" style="font-size: 25px"></i>
                &nbsp;
            </a>    
            <span data-align="left" data-bind="visible:dingdone">
                <img data-bind="attr: {src: avatar }"   class="image-cropper shadow" 
                     style="width: 45px; height: 45px; border: 1px white solid"/>
            </span>             
            <span data-align="left" data-bind="invisible:dingdone"> 
                <img src="resources/imgs/misc/zzz2.jpg"   style="width: 40px; height: 40px; opacity: 1"/>                                  
            </span>             
            
           <ul class="nav nav-pills center-pills" >
                        <li class="active" style="width2: 5%; padding-left: 70px;">
                            <a href="#tab_actividad" data-toggle="pill" style="margin-right: 0px !important;  padding: 5px 15px  " data-transition-native="false">
                               <i style="font-size: 1.5em" class=" mdi mdi-key-variant"></i>
                                <br><small>AMA LLAVES</small>
                            </a>
                        </li>
                       
                        <li> 
                            <a href="#tab_averias" data-toggle="pill" data-role="touch" data-tap="app.homeView.afterShowAssignmentTab"
                                style="margin-left: 0px !important;  padding: 5px 15px  " data-transition-native="false">
                                  <i style="font-size: 1.5em" class="c-main4 mdi mdi-alert"></i>
                                 <br><small>AVERÍAS</small>
                            </a>
                        </li>
                    </ul>           
                
            
            <span class="hidden2" data-align="right" data-bind="click: goFilterHousekeeper">
                <i class="mdi mdi-2x mdi-filter c-main valign shadow " style="font-size: 20px; float: right; padding-right: 2px;"></i> 
            </span>         
            
            
        </div>

    </header>
    
    
     <div class="tab-content">
         
            <!--------------------------->
            <!--------  SUMMARY --------->
            <!--------------------------->
            <div class="tab-pane fade in active" id="tab_actividad">     
            
                <!-- jumbotron header -->                      
                <header   class="jumbotron" data-bind="invisible: noActivity" >
                    <div class="container-fluid">
                        <div class="row">
                            
                            <div class="col-xs-12" style="margin-top: 0px" >                                                                
                                <h4 class="ml0">
                                    <i class="mdi mdi-timer sh-mdi"></i><span class="sh-label"> Progreso del Equipo</span> 
                                </h4>           
                                <div>
                                    <div data-role="progressbar" id="progressAlerts" data-min="0" data-max="100" data-type= "percent" data-bind="value: progress, invisible: noAlerts"
                                         style="width: 100%; " >
                                    </div>                                                    
                                </div>
                             </div>
                            
                            <div class="col-xs-12 mt10" style="text-align: center;" >
                                <span class="sh-info"  data-bind="invisible: noAlerts">
                                    <span>
                                        <span data-bind="html: data.alerts.resolved"></span>/<span data-bind="html: data.alerts.total"></span>
                                    </span>
                                    alertas resueltas
                                </span>
                                
                                <span class="sh-info c-light"  data-bind="visible: noAlerts">
                                    <!-- No hay alertas -->
                                </span>
                                
                            </div>
                            
                            <div class="col-xs-12" style="margin-top: 10px">
                                                      
                                <div data-role="progressbar" id="progressTasks" data-min="0" data-max="100" data-type= "percent" data-bind="value: progressTasks, invisible: noTasks "
                                     style="width: 100%;">
                                </div>                                                    
                             </div>
                            
                            <div class="col-xs-12 mt10" style="text-align: center;" >
                                <span class="sh-info" data-bind="invisible: noTasks ">
                                    <span>
                                        <span data-bind="html: data.tasks.resolved"></span>/<span data-bind="html: data.tasks.total"></span>
                                    </span>
                                    tareas completadas
                                </span>
                                <span class="sh-info c-light"  data-bind="visible: noTasks">
                                    <!-- No hay tareas -->
                                </span>
                                
                            </div>
                            
                            <div style="display: none">
                                <div class="col-xs-6 center mt10" style="border-right: 1px solid #e5e5e5;" >                                                        
                                    <span data-bind="html: data.effectivity"  class="c-main sh-number"></span>                                
                                    <br><span class="sh-info">Efectividad</span>
                                  
                                    
                                </div>
                                <div class="col-xs-6 center mt10" >                                                        
                                    <span data-bind="html: data.alerts.notresolved"  class="c-main4 sh-number"></span>
                                    <br><span class="sh-info">Alertas sin <br>resolver</span>    
                                </div> 
                            </div>
                            
                        </div>            
                    </div>
                    <br>
                </header>

                
                <!-- Deslice para actualizar -->
                 <div class="container-fluid" data-bind="visible: noActivity">
                     <div class="row" >
                         
                        <div class="col-xs-12">
                            <div style="text-align: center">                                
                                <h3 class="c-light" style="opacity: 0.5">NO HAY ACTIVIDAD</h3>
                                <h5 class="c-light" style="opacity: 0.5">Deslice para actualizar</h5>
                                <img src="resources/imgs/misc/pulltorefresh.png" > 
                             </div>                
                        </div>
                    </div>
                 </div>
                
                 
                    
                    <!------------->
                    <!-- ALERTAS -->
                    <!------------->                               
                    <div style="margin-top: 10px">                
                        <ul  data-role="listview" class="listViewAlerts"         
                            data-bind="source: alertsDataSource"                                                
                            data-template="alerts-template"
                            data-header-template="alerts-header-template"         
                            data-pull-to-refresh="true"
                            data-messages='{ "pullTemplate": "", releaseTemplate: "Suelte para actualizar",
                             "refreshTemplate": "Actualizando"}'
                            >
                        </ul>
                    </div>
                    <div style="margin-top: 10px">                
                        <ul  data-role="listview" class="listViewAlerts"         
                            data-bind="source: tasksDataSource"                                                
                            data-template="alerts-template"
                            data-header-template="alerts-header-template"         
                            data-pull-to-refresh="true"
                            data-messages='{ "pullTemplate": "", releaseTemplate: "Suelte para actualizar",
                             "refreshTemplate": "Actualizando"}'
                            >
                        </ul>
                    </div>  
                    
                    
            </div>
         
         
          
         
         
         <div class="tab-pane fade in" id="tab_averias"> 
                
                <!------------------------>
                <!-- ALERTAS REPORTADAS => AHORA SON TODAS LAS AVERIAS  --> 
                <!------------------------>
                  
                     <div  style="margin-top: 10px" >                
                        <ul id="reportedAlertsListView" data-role="listview" class="listViewAlerts"         
                            data-bind="source: maintenanceAlertsDataSource"    
                            data-template="alerts-template">
                        </ul>
                    </div>  
                
         </div>       
                                
     </div>       
    
                
    
    <!-- END_CUSTOM_CODE_homeView -->
</div>



